/**
 * Gerstner-Programm Font Family
 */

@font-face {
  font-family: 'Gerstner-Programm';
  src: url('/fonts/Gerstner-ProgrammLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gerstner-Programm';
  src: url('/fonts/Gerstner-ProgrammLightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gerstner-Programm';
  src: url('/fonts/Gerstner-ProgrammRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gerstner-Programm';
  src: url('/fonts/Gerstner-ProgrammItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gerstner-Programm';
  src: url('/fonts/Gerstner-ProgrammMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gerstner-Programm';
  src: url('/fonts/Gerstner-ProgrammMediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gerstner-Programm';
  src: url('/fonts/Gerstner-ProgrammBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gerstner-Programm';
  src: url('/fonts/Gerstner-ProgrammBoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
